body{
    /*background-image: url("akan2.jpg")
    background-image:cover;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;*/
    background-color: aquamarine;
    font-family:'Times New Roman', Times, serif;
}
h1{
text-align: center;
font-size:32px;
color:red;
}
h2{
    text-align: center;
    color:peru;
    font-size: 24px;
    text-decoration: chocolate;
}
#form{
    padding:40px;
    padding-top:60px;
    font-size:24px;
    background-color:grey;
}
label{
    display:inline-block;
    margin-bottom:5rem;
}
.form-group{
    text-align: center;
    margin:0px;
    color:whitesmoke;
}
.form{
    padding:45px;
    font-size:24px;
    padding-top:60px;

}
hr{
    color:yellowgreen;
}
.submit{
    color:red;
    font-display:auto;
}